.btncolor {
  background-color: hsl(228, 85%, 63%);
  color: #fff;
  border-color: hsl(228, 8%, 56%);
}

.btncolor:hover {
  background-color: rgb(174, 192, 16);
}

  /* Estilo predeterminado para la tabla (modo claro) */
  .table {
    color: #8b8e9b;
  }

 